version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      day: "monday"
      time: "09:00"
      timezone: "Asia/Jakarta"
      interval: "weekly"
    groups:
      dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 1
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
